PORT=8000

CORS_ORIGINS=http://localhost:3000
BASE_DOMAIN=http://localhost:3000

# Dialogflow ES
DIALOGFLOW_PROJECT_ID=your-gcp-project-id
DIALOGFLOW_LANGUAGE_CODE=en
GOOGLE_APPLICATION_CREDENTIALS=./credentials.json
